<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> 商空月老</title>
    <link rel="stylesheet" href="static/index/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet">
</head>

<body>
    <!--top bar-->
    <div class="top-bar">

         
        <img class="logo-text" src="/static/img/project-name.png" alt="" width="180" >
        <img class="user" src="/static/img/user.png" alt="" width="180" >
        
    </div>
  
    <hr class="top-line">

    <!--content-->
    <div class="content">
        
        <div>
            <div class="box" id="box1"></div>
            <div class="box" id="box2"></div>
        </div>
        <div>
            <img class="box-img" id="search" src="/static/img/search.png" alt="">
            <img class="box-img" id="house" src="/static/img/house.png" alt="">
        </div>
        <div>
            <p class="box-text" id="rent1">我要找房</p>
            <p class="box-text" id="landlord1">我有房源</p> 
        </div>
        <div>
            <button type="button" class="go-btn" id="rent-btn">GO</button>
            <button type="button" class="go-btn" id="landlord-btn">GO</button>
        </div>

        
    </div>
    
</body>
</html>
