<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>商空月老</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/components/icon.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css"/>
    <link rel="stylesheet" href= "https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="/static/basic.css"/>
    <link rel="stylesheet" type="text/css" href="/static/leafletmap/map.css"/>
    <link rel="stylesheet" type="text/css" href="/static/landlord_recommend/style.css"/>
    <!-- for bottom detail-->
    <link rel="stylesheet" type="text/css" href="/static/landlord_recommend/bottom_detail.css"/>
  </head>
  <body>
    <div class="main" id="app" v-cloak="v-cloak">
      <div class="mainbox">
        <div class="left">
          <!--.left_bar
          .click_btn.ct1 改變需求
          .click_btn.ct2 上傳物件
          -->
          <div class="right_box">
            <div class="top_bar">
              <img class="logo-img" src="/static/tenant_recommend/img/logo-img.png" alt="">
              <img class="logo-text" src="/static/tenant_recommend/img/project-name.png" alt=""  >
              <img class="user" src="/static/tenant_recommend/img/user.png" alt="" width="180" >
              <div class="top-btn">
                <!--.c1.btn 改變需求-->
                <!--.c1.btn 上傳物件-->
                <!--<div class="c1 btn b1">我要找房</div>
                <div class="c1 btn b2">我有房源</div>
                <div class="c1 btn"><i class="user circle icon"></i></div>
                -->
                <button type="button" class="index-btn" id="rent" href="">我要租房</button>
                <button type="button" class="index-btn" id="landlord" href="">我有房源</button>
              </div>
            </div>
            <div id="bottom_block" class="bottom">
              <div class="card" v-for="(item, cid) in wish_list" v-bind:value="cid" v-bind:id="'card_' + cid" @click="c_click(cid)" @mouseover="c_over(cid)" @mouseleave="c_leave(cid)">
                <div class="logo">
                  <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGMxh6fQpzDtUwCSk4zCy5L948sAJfnpCW6A&usqp=CAU"/> -->
                  <img src="/static/landlord_recommend/img/WishCard1.png"/>
                </div>
                <div class="content">
                  <div class="info">
                    <p>許願者: {{item.name}}</p>
                    <p>城市: {{item.county}}</p>
                    <p>鄉鎮市區：{{item.town}}</p>
                    <p>類型：{{item.house_type}}</p>
                  </div>
                  <div class="scores">
                    <!--<p>配對率:</p>-->
                    <div class="score">{{item.scores}}% Match</div>
                  </div>
                  <!--h2.rental_price ${{item.price[0]}}~${{item.price[1]}}/月-->
                  <!-- <h2 class="rental_price">${{item.rental_price}}/月</h2> -->
                </div>
              </div>
            </div>
            <div class="bottom_detail">
              <div id="close_detail" class="close_detail">
                <i class="angle double down icon"></i>
              </div>  
              <div class="wish_box">
                <div class="box"> <img class="need-img" src="/static/landlord_recommend/img/need-img.png"/><img class="dot-img" src="/static/landlord_recommend/img/dot-img.png"/>
                  <div class="match"> 
                    <p class="text">{{ clicked_item.scores }}% Match </p>
                    <div class="match_bottom"></div>
                    <!-- <img class="match_line-img" src="/static/landlord_recommend/img/match_line-img.png"/> -->
                  </div>
                  <div class="wish_data"> 
                    <table> 
                      <tr> 
                        <td class="text" id="county">縣市:</td>
                        <td class="text">{{ clicked_item.county }}</td>
                      </tr>
                      <tr> 
                        <td class="text" id="town">鄉鎮市區:</td>
                        <td class="text">{{ clicked_item.town }}</td>
                      </tr>
                      <tr> 
                        <td class="text" id="type">物件類型:</td>
                        <td class="text">{{ clicked_item.house_type }}</td>
                      </tr>
                      <tr> 
                        <td class="text" id="price">價位:</td>
                        <td class="text">{{ clicked_item.rental_price }}</td>
                      </tr>
                      <tr> 
                        <td class="text" id="area">坪數大小:</td>
                        <td class="text">{{ clicked_item.size }}</td>
                      </tr>
                      <tr> 
                        <td class="text" id="trans">距離大眾運輸:</td>
                        <td class="text">{{ clicked_item.MRT_distance }}</td>
                      </tr>
                      <tr> 
                        <td class="text" id="age">周圍年齡層:</td>
                        <td class="text">{{ clicked_item.human_age }}</td>
                      </tr>
                      <tr> 
                        <td class="text" id="loc">店面位置:</td>
                        <td class="text">{{ clicked_item['road/alley'] }}</td>
                      </tr>
                      <tr> 
                        <td class="text" id="house_age">屋齡</td>
                        <td class="text">{{ clicked_item.house_age }}</td>
                      </tr>
                      <tr> 
                        <td class="text" id="people_stream">人流</td>
                        <td class="text">{{ clicked_item.people_stream }}</td>
                      </tr>
                      <tr> 
                        <td class="text" id="decoration">裝潢</td>
                        <td class="text">{{ clicked_item['裝潢'] }}</td>
                      </tr>
                      <!-- <tr> 
                        <td class="text" id="special">特色物件</td>
                        <td class="text">--</td>
                      </tr> -->

                    </table>
                    <div class="other_text"> 
                      <p class="text">其他需求:</p>
                      <p class="text" id="other_request">{{ clicked_item.comment }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wisher_box"> 
                <div class="box">
                  <img class="wisher-img" src="/static/landlord_recommend/img/wisher-img.png"/>
                  <div class="info_text">
                    <p class="text">許願者資料</p>
                    <table class="wisher_data"> 
                      <tr> 
                        <td class="text">姓名:</td>
                        <td class="text">{{ clicked_item.name }}</td>
                      </tr>
                      <tr> 
                        <td class="text">聯絡電話:</td>
                        <td class="text">{{ clicked_item.phone }}</td>
                      </tr>
                      <tr> 
                        <td class="text">聯絡信箱:</td>
                        <td class="text">{{ clicked_item.email }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="info_bar">
            <div class="title">
              <h4>區域探索<br>AREA EXPLORER</h4>
              <div class="close">
                <p><<</p>
              </div>
            </div>
            <hr/>
            <div class="charts">
              <div class="location"> 
                <h4>所在位置: {{town}}</h4>
              </div>
              <div class="chart_block">
                <h4 class="title">店舖價走勢</h4>
                <div id="line_chart"></div>
              </div>
              <div class="chart_block">
                <h4 class="title">人流</h4>
                <div id="bar_chart"></div>
              </div>
              <div class="chart_block">
                <h4 class="title">消費熱度指數</h4>
                <div id="line_chart2"></div>
              </div>
              <!-- <div class="location"> 
                <h4>二級行政區: {{second_dis}}</h4>
              </div>
            -->
              <div class="chart_block">
                <h4 class="title">土地使用</h4>
                <div id="pie_chart"> </div>
              </div>
              <div class="chart_block" style="margin-bottom: 100px"> 
                <h4 class="title">年齡分佈</h4>
                <div class="percent_block" id="year_1"><span>0-14歲</span><span class="right_text">%</span>
                  <div class="percent_bar">
                    <div class="bar"></div>
                  </div>
                </div>
                <div class="percent_block" id="year_2"><span>15-24歲</span><span class="right_text">%</span>
                  <div class="percent_bar">
                    <div class="bar"></div>
                  </div>
                </div>
                <div class="percent_block" id="year_3"><span>25-39歲</span><span class="right_text">%</span>
                  <div class="percent_bar">
                    <div class="bar"></div>
                  </div>
                </div>
                <div class="percent_block" id="year_4"><span>40-64歲</span><span class="right_text">%</span>
                  <div class="percent_bar">
                    <div class="bar"></div>
                  </div>
                </div>
                <div class="percent_block" id="year_5"><span>65歲以上</span><span class="right_text">%</span>
                  <div class="percent_bar">
                    <div class="bar"></div>
                  </div>
                </div>
              </div>
              <!-- <div class="location"> 
                <h4>一公里內</h4>
              </div>
              <div class="chart_block"> 
                <h4 class="title">同業種數量</h4>
                <div id="shop_num"></div>
              </div>
              <div class="chart_block"> 
                <h4 class="title">交通工具數量</h4>
                <div id="text_chart"><i class="subway icon"> 
                    <div class="icon_text">0</div></i><i class="bus icon"> 
                    <div class="icon_text">0</div></i></div>
              </div> -->
            </div>
          </div>
          <div class="map" id="mapid"></div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="/static/leafletmap/init_map.js"></script>
    <script src="/static/leafletmap/map_dev.js"></script>
    <script src="/static/landlord_recommend/landlord_recommend.js"></script>
    <script src="/static/plot_landlord.js"></script>
  </body>
</html>