<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>商空月老</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/components/icon.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="/static/basic.css"/>
    <link rel="stylesheet" type="text/css" href="/static/landlord_page.css"/>
  </head>
  <body>
    <div id="navi_bar"> 
      <div class="top_bar">
        <div class="our_logo"> </div>
        <h1 class="title">商空月老</h1>
        <div class="buttons">
          <div class="c1 btn b1">我要找房</div>
          <div class="c1 btn b2">我有房源</div>
          <div class="c1 btn"><i class="user circle icon"></i></div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="left"> </div>
      <div class="right">
        <div class="user_info">
          <div class="info_card">
            <h4>姓名：{{ username }}</h4>
            <h4>使用者帳號類型：免費</h4>
            <h4>XXXXXX</h4>
            <h4>XXXXXX</h4>
          </div>
          <div class="buttons">
            <div class="c1 btn b1">登出</div>
            <div class="c1 btn b2">上傳物件</div>
          </div>
        </div>
        <div class="house_info"> 
          <h2 class="title">你的物件</h2>
          <div class="house">
            {% for house_info in house_infos %}
              <div class="house_card">
                <a href={{ "../map?house_index="+house_info['house_index'] }}>WishList Search</a>
                <h5 class="title"> {{ house_info['name'] }}</h3>
                <div class="image">
                  <img src={{ house_info['img_url'] }}>
                </div>
                <div class="content">
                  <p>地區： {{ house_info['town'] }}</p>
                  <p>大樓類型： {{ house_info['type'] }}</p>
                  <p>地址： {{ house_info['address'] }}</p>
                  <p>樓層： {{ house_info['floor'] }}</p>
                  <p>坪數： {{ house_info['size'] }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
