html, body {
  min-height: 768px;
  font-family: 'Noto Sans TC', sans-serif;
}

.main {
  display: flex;
  width: 100%;
  height: 90%;
}
/*--------------- top bar ---------------*/
.top-bar{
  background: white;
  height: 70px;
}
.logo-img{
  position: absolute;
  width: 55px;
  top: 8px;
  left: 10px;
}

.logo-text{
  position: absolute;
  padding-left:80px;
  padding-top: 15px;
  width: 280px;
}

.top-btn{
  padding-top: 25px;
  padding-left: 280px;
}

.index-btn {
  left: 30px;
  padding: 2px 10px;
  margin: 0px 3px;
  background-color: white;
  border-radius: 20px;
  border: solid 2px;
  border-color:rgba(0,0,0,0);
  color: black;
  text-align: center;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
  text-decoration: none;
  
}

.index-btn:hover {
  border-color:rgba(0,0,0,1);
  transition: 0.7s;
}

.user{
  position: fixed;
  right: 3vw;
  top: 15px;
  width: 45px;
}

.top-line{
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: black;
  margin: 0;
}  

/*--------------- main ---------------*/

.main{
  background-image: url("/static/landlord_portal/img/background-img-03.png");
  background-size: cover;

}

.main .bottom_box{
  position: absolute;
  width: 100%;
  height: 50vh;
  bottom: 0;
  background-color: rgba(87,101,153,0.8);
  border: solid 3px #99FFDA;
}

.main .left {
  width: 20%;
  height: 100%;
}

.main .left .user-head{
  position: absolute;
  width: 150px;
  left: 70px;
  top: 30px;
}



.main h2.title {
  position: absolute;
  left: 200px;
  top: 50px;
  height: 10%;
  margin: 0px;
  font-size: 50px;
  font-weight: 600;
  color: #99FFDA;
  text-shadow: #576599 3px 3px;
  
}

.main .right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main .user_info {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.main .user_info .info_card {
  width: 70%;
  height: 100%;
  padding-top: 60px;
}

.main .user_info .info_card .user_name{
  font-size: 40px;
}

.main .user_info .info_card h4{
  margin-bottom: 20px;
  padding: 5px 0;
  font-size: 20px;
}

.main .user_info .info_card h5{
  margin: 0;
  padding: 3px 0;
  font-size: 15px;
}



.main .user_info .info_card h3 {
  padding-left: 0px;
}

.main .left .buttons{
  position: absolute;
  left: 90px;
}

#upload{
  position: absolute;
  top: 28vh;
}

#log_out{
  position: absolute;
  top: 33vh;
}

.main .left .buttons .btn {
  font-size: 15px;
  padding: 5px 5px;
  width: 110px;
  border: solid 2px black;
  border-radius: 20px;
  background: none;
  cursor: pointer;
}

.main .user_info .buttons .b1 {
  margin-bottom: 30px;
}

.main .house_info {
  top: 20px;
  width: 100%;
  height: 55%;
}



.main .house_info .house {
  display: flex;
  height: 90%;
  overflow: scroll;
}

.main .house_info .house::-webkit-scrollbar {
  display: none;
}

.main .house_info .house .WishList_Search{
  margin-top: 20px;
  color: #567599;
  font-weight: 600;
}


.main .house_info .house .house_card {
  background-color: white;
  border: 3px solid black;
  border-radius: 30px;
  margin-bottom:20px ;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  min-width: 280px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .house_info .house .house_card .image {
  display: flex;
  justify-content: center;
}

.main .house_info .house .house_card .image img {
  width: 100%;
  border-radius: 15px;
}

.main .house_info .house .house_card h5,  .main .house_info .house .house_card img {
  margin-top: 20px;
}

.main .house_info .house .house_card .title{
  color: #567599;
  text-shadow: #99FFDA 2px 2px;
  font-size: 20px;
}

.main .house_info .house .house_card .content{
  margin-top: 10px;
}

.main .house_info .house .house_card .content p{
  padding: 5px 0;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

/*# sourceMappingURL=landlord_page.css.map */