<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>商空月老</title>
    <link rel="icon" href="/static/tenant_recommend/img/logo-img.png">
    <meta property="og:image" content="/static/tenant_recommend/img/project-name.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/components/icon.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/basic.css"/>
    <link rel="stylesheet" type="text/css" href="/static/landlord_login/landlord_login.css"/>
    -->
    <link rel="stylesheet" href="/static/landlord_login/style.css">
  </head>
  <body> 
    <!------------------top bar------------------>
    <div id="navi_bar"> 
        <div class="top_bar">
            <img class="logo-img" src="/static/tenant/img/logo-img.png" alt="">
            <a href="/">
              <img class="logo-text" src="/static/landlord_login/img/project-name.png" alt="" width="250" >
            </a>
            <div class="top-btn">
                <a href="/tenant"><button type="button" class="index-btn" id="rent" href="">我要租房</button></a>
                <a href="/landlord"><button type="button" class="index-btn" id="landlord" href="">我有房源</button></a>
            </div>
            <img class="user" src="/static/landlord_login/img/user.png" alt="" width="180">
        </div>
    </div>
    <!------------------line------------------>
    <hr class="top-line">
    <!------------------content------------------>
    <div class="main"> 
      <form action="http://localhost:5000/api/login_confirm" method="post">
        <div class="block">
          <table class="log_in">
            <tr>
              <td class="text">帳號</td>
              <td class="user_input">
                <input class="user" type="text" name="username" placeholder="輸入數字"/>
              </td>
            </tr>
            <tr>
              <td class="text">密碼</td>
              <td class="user_input">
                <input class="user" type="text" name="password" placeholder="不用打"/>
              </td>
            </tr>
          </table>
        </div>
        <button class="buttons_btn">登入</button>
      </form>
    </div>
  </body>
</html>
