<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> 商空月老</title>
    <link rel="icon" href="/static/tenant_recommend/img/logo-img.png">
    <meta property="og:image" content="/static/tenant_recommend/img/project-name.png">
    <link rel="stylesheet" href="/static/landlord/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>

  <body>
    <!------------------top bar------------------>
    <div class="top-bar"> 
      <img class="logo-img" src="/static/landlord/img/logo-img.png" alt="">
      <a href="/">
        <img class="logo-text" src="/static/landlord/img/project-name.png" alt="" width="180" >
      </a>
      <div class="top-btn">
        <a href="/tenant"><button type="button" class="index-btn" id="rent" href="">我要租房</button></a>
        <a href="/landlord"><button type="button" class="index-btn" id="landlord" href="">我有房源</button></a>
      </div>
      <img class="user" src="/static/landlord/img/user.png" alt="" width="180" >
    </div>
    <!------------------line------------------>
    <hr class="top-line">
    <!------------------content------------------>
    <div class="content">

      <div class="match">
        <a href="/landlord/upload">
          <button type="button" class="go-btn" id="match">GO</button>
        </a>
      </div>

      <div class="upload">
        <a href="/landlord/login">
          <button type="button" class="go-btn" id="upload">GO</button>
        </a>
      </div>
      

      
    </div>

  </body>

</html>
