<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title 商空月老
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/components/icon.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css")
        link(rel="stylesheet" type="text/css" href="/static/basic.css")
        link(rel="stylesheet" type="text/css" href="/static/landlord_recommend/style.css")
        // for bottom detail
        link(rel="stylesheet" type="text/css" href="/static/landlord_recommend/bottom_detail.css")
    body
        #app(v-cloak).main
            .mainbox
                .left
                    //.left_bar
                        .click_btn.ct1 改變需求
                        .click_btn.ct2 上傳物件
                    .right_box
                        .top_bar
                            .our_logo 
                            h1.title 商空月老
                            .buttons
                                //.c1.btn 改變需求
                                //.c1.btn 上傳物件
                                .c1.btn.b1 我要找房
                                .c1.btn.b2 我有房源
                                .c1.btn
                                    i.user.circle.icon
                        .bottom
                            .card(v-for="(item, cid) in shop" v-bind:value="cid" v-bind:id="'card_' + cid" @click="c_click(cid)" @mouseover="c_over(cid)" @mouseleave="c_leave(cid)")
                                .logo
                                    //img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGMxh6fQpzDtUwCSk4zCy5L948sAJfnpCW6A&usqp=CAU")
                                    img(v-bind:src="item.img_url")
                                .content
                                    .info
                                        p 出租物件名稱: {{item.name}}
                                        p 物件類型: {{item.type}}
                                        p 物件坪數：{{item.size}}
                                    .scores
                                        p 配對率:
                                        .score {{item.score}}%
                                    //h2.rental_price ${{item.price[0]}}~${{item.price[1]}}/月
                                    h2.rental_price ${{item.rental_price}}/月
                        .content 
                            .wish_box
                                .box 
                                    img.need-img(src="/static/landlord_recommend/img/need-img.png")
                                    img.dot-img(src="/static/landlord_recommend/img/dot-img.png")
                                    .match 
                                        p.text 77% Match 
                                        img.match_line-img(src="/static/landlord_recommend/img/match_line-img.png")
                                    .wish_data 
                                        table 
                                            tr 
                                                td.text#county 縣市:
                                                td.text 台北市
                                            tr 
                                                td.text#town 鄉鎮市區:
                                                td.text 信義區
                                            tr 
                                                td.text#type 物件類型:
                                                td.text 電梯大樓
                                            tr 
                                                td.text#price 價位:
                                                td.text 20001-40000元
                                            tr 
                                                td.text#area 坪數大小:
                                                td.text 11-20坪
                                            tr 
                                                td.text#trans 距離大眾運輸:
                                                td.text 500m以內
                                            tr 
                                                td.text#age 周圍年齡層:
                                                td.text 25-39歲
                                            tr 
                                                td.text#loc 店面位置:
                                                td.text 巷/弄
                                            tr 
                                                td.text#house_age 屋齡
                                                td.text 10-20年
                                            tr 
                                                td.text#special 特色物件
                                                td.text 否
                                        .other_text 
                                            p.text 其他需求:
                                            p.text#other_request 希望沒有裝潢，牆壁可釘棚架可以鑽孔，尤其不要有壁癌滲水的狀況，要有大面的玻璃窗，最好是落地窗，可以清楚看到店內狀況，白天採光良好....
                            .wisher_box 
                                .box 
                                    img.wisher-img(src="/static/landlord_recommend/img/wisher-img.png")
                                    p.text 許願者資料
                                    table.wisher_data 
                                        tr 
                                            td.text 姓名:
                                            td.text XXX 
                                        tr 
                                            td.text 聯絡電話:
                                            td.text 0933456934
                                        tr 
                                            td.text 聯絡信箱:
                                            td.text databreath987@gmail.com


                .right
                    .info_bar
                        .title
                            h4 區域探索<br>AREA EXPLORER
                            .close
                                p <<
                        hr
                        .charts
                            .location 
                                h4 所在位置: {{town}}
                            .chart_block
                                h4.title 店舖價走勢
                                #line_chart
                            .chart_block
                                h4.title 人流
                                #bar_chart
                            .chart_block
                                h4.title 消費熱度指數
                                #line_chart2

                            .location 
                                h4 二級行政區: {{second_dis}}
                            .chart_block
                                h4.title 土地使用
                                #pie_chart 
                            .chart_block 
                                h4.title 年齡分佈
                                #year_1.percent_block
                                    span 0-14歲
                                    span.right_text %
                                    .percent_bar
                                        .bar
                                #year_2.percent_block
                                    span 15-24歲
                                    span.right_text %
                                    .percent_bar
                                        .bar
                                #year_3.percent_block
                                    span 25-39歲
                                    span.right_text %
                                    .percent_bar
                                        .bar
                                #year_4.percent_block
                                    span 40-64歲
                                    span.right_text %
                                    .percent_bar
                                        .bar
                                #year_5.percent_block
                                    span 65歲以上
                                    span.right_text %
                                    .percent_bar
                                        .bar

                            .location 
                                h4 一公里內
                            .chart_block 
                                h4.title 同業種數量
                                #shop_num
                            .chart_block 
                                h4.title 交通工具數量
                                #text_chart
                                    i.subway.icon 
                                        .icon_text 0
                                    i.bus.icon 
                                        .icon_text 0



                    #mapid.map
    
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.js")
        script(src="https://code.highcharts.com/highcharts.js")
        script(src="/static/landlord_recommend/landlord_recommend.js")
        script(src="/static/plot.js")
