<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title 商空月老
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/components/icon.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css")
        link(rel="stylesheet" type="text/css" href="/static/basic.css")
        link(rel="stylesheet" type="text/css" href="/static/landlord_page.css")

    body
        #navi_bar 
            .top_bar
                .our_logo 
                h1.title 商空月老
                .buttons
                    .c1.btn.b1 我要找房
                    .c1.btn.b2 我有房源
                    .c1.btn
                        i.user.circle.icon

        .main
            .left 
            .right
                .user_info
                    .info_card
                        h4 姓名：
                        h4 使用者帳號類型：免費
                        h4 XXXXXX
                        h4 XXXXXX
                    .buttons
                            .c1.btn.b1 登出
                            .c1.btn.b2 上傳物件

                .house_info 
                    h2.title 你的物件
                    .house
                        .house_card
                            h3.title 
                            .content
                                p 地址： 
                                p 樓層： 
                                p 坪數： 
