<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title 商空月老
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/components/icon.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css")
        // leaflet draw
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css")
        link(rel="stylesheet" type="text/css" href="/static/basic.css")
        link(rel="stylesheet" type="text/css" href="/static/tenant_recommend/style.css")
        link(rel="stylesheet" type="text/css" href="/static/leafletmap/map.css")
        link(rel="stylesheet" type="text/css" href="/static/tenant_recommend/tenant_map_detail.css")
    body
        #app(v-cloak).main
            .mainbox
                .left
                    //.left_bar
                        .click_btn.ct1 改變需求
                        .click_btn.ct2 上傳物件
                    .right_box
                        .top_bar
                            .our_logo 
                            h1.title 商空月老
                            .buttons
                                //.c1.btn 改變需求
                                //.c1.btn 上傳物件
                                .c1.btn.b1 我要找房
                                .c1.btn.b2 我有房源
                                .c1.btn
                                    i.user.circle.icon
                        #bottom_block.bottom
                            .card(v-for="(item, cid) in shop" v-bind:value="cid" v-bind:id="'card_' + cid" @click="c_click(cid)" @mouseover="c_over(cid)" @mouseleave="c_leave(cid)")
                                .logo
                                    //img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGMxh6fQpzDtUwCSk4zCy5L948sAJfnpCW6A&usqp=CAU")
                                    img(v-bind:src="item.img_url")
                                .content
                                    .info
                                        p 出租物件名稱: {{item.name}}
                                        p 物件類型: {{item.type}}
                                        p 物件坪數：{{item.size}}
                                    .scores
                                        p 配對率:
                                        .score {{item.score}}%
                                    //h2.rental_price ${{item.price[0]}}~${{item.price[1]}}/月
                                    h2.rental_price ${{item.rental_price}}/月
                        .bottom_detail 
                            .left_detail 
                                h3 {{ clicked_item.name }}
                                .circle_block 
                                    .circle 
                                    .circle 
                                    .circle
                                .img_block 
                                    img(v-bind:src="clicked_item.img_url")
                                    //img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGMxh6fQpzDtUwCSk4zCy5L948sAJfnpCW6A&usqp=CAU")

                                .special_detail
                                    .content
                                        h3.special_title.pad [特色]
                                        .detail_text.pad {{clicked_item.feature}} 
                                        .detail_text.pad 捷運站：
                                        .detail_text.pad {{clicked_item.MRT_name}}
                                        h3.special_title.pad [其他資訊]
                                        .detail_text.pad 地址：{{clicked_item.address}}
                                        .detail_text.pad {{clicked_item.feature2}}
                            .right_detail 
                                .price_block
                                    h1.price ${{clicked_item.rental_price}}/月
                                    .bottom_bar
                                .detail_info
                                    .content
                                        .detail_text.pad 坪數：{{clicked_item.size}}坪
                                        .detail_text.pad 樓層：{{clicked_item.floor}}
                                        .detail_text.pad 建物總樓層：{{clicked_item.floor_b}}
                                        .detail_text.pad 物件類型：{{clicked_item.type}}
                                        .detail_text.pad 押金限制：{{clicked_item['押金']}}
                                        .detail_text.pad 管理費：{{clicked_item['管理費']}}
                                        .detail_text.pad 租約：{{clicked_item['租約']}}
                                        .detail_text.pad 縣市：台北市
                                        .detail_text.pad 鄉鎮市區：{{clicked_item.town}}
                                        .detail_text.pad 屋齡：{{clicked_item.house_age}}
                                        .detail_text.pad 裝潢：{{clicked_item['裝潢']}}
                                        .detail_text.pad 是否有停車位：{{clicked_item['車位']}}
                                        .detail_text.pad 距離大眾運輸： {{clicked_item.MRT_distance}}
                                        .detail_text.pad 店面位置： {{clicked_item['小巷0/大路1']}}
                                #close_detail.close_detail 
                                    i.angle.double.down.icon 

                        
                .right
                    .info_bar
                        .title
                            h4 區域探索<br>AREA EXPLORER
                            .close
                                p <<

                        hr
                        .charts
                            .location 
                                h4 所在位置: {{town}}
                            .chart_block
                                h4.title 店舖價走勢
                                #line_chart
                            .chart_block
                                h4.title 人流
                                #bar_chart
                            .chart_block
                                h4.title 消費熱度指數
                                #line_chart2

                            .location 
                                h4 二級行政區: {{second_dis}}
                            .chart_block
                                h4.title 土地使用
                                #pie_chart 
                            .chart_block 
                                h4.title 年齡分佈
                                #year_1.percent_block
                                    span 0-14歲
                                    span.right_text %
                                    .percent_bar
                                        .bar
                                #year_2.percent_block
                                    span 15-24歲
                                    span.right_text %
                                    .percent_bar
                                        .bar
                                #year_3.percent_block
                                    span 25-39歲
                                    span.right_text %
                                    .percent_bar
                                        .bar
                                #year_4.percent_block
                                    span 40-64歲
                                    span.right_text %
                                    .percent_bar
                                        .bar
                                #year_5.percent_block
                                    span 65歲以上
                                    span.right_text %
                                    .percent_bar
                                        .bar

                            .location 
                                h4 一公里內
                            .chart_block 
                                h4.title 同業種數量
                                #shop_num
                            .chart_block 
                                h4.title 交通工具數量
                                #text_chart
                                    i.subway.icon 
                                        .icon_text 0
                                    i.bus.icon 
                                        .icon_text 0



                    #mapid.map
    
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.js")
        // leaflet.draw
        script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js")
        script(src="https://code.highcharts.com/highcharts.js")
        script(src="/static/leafletmap/map_dev.js")
        script(src="/static/tenant_recommend/tenant_recommend.js")
        script(src="/static/plot.js")
